/* src/components/Footer/footer.css */
.footer {
    width: 100vw;
    height: 4rem;
    background: #ffffff; /* Footer background color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: #666; /* Light grey for footer text color */
}
