.footer {
    width: 100vw;
    height: 4rem;
    background: white; /* Footer background color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: #455a64; /* Darker Blue-Grey for footer text color */
}
